.row.row-for-progress{
  display: flex;
  align-items: center;
}
div.progress{
  margin:0;
}

.progress-bar {
	transition: width .05s ease;
}

#bottomPane {
  padding-top: 1em;
  padding-bottom: 1em;
}

.row>span {
  width: auto;
}