.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.row.row-for-progress {
  display: flex;
  align-items: center;
}
div.progress{
  margin:0;
}

.progress-bar {
	transition: width .05s ease;
}

#bottomPane {
  padding-top: 1em;
  padding-bottom: 1em;
}

.guess-box {
  width: 4.25rem;
  height: 4.25rem;
  margin: .25rem;
  background-color: #f5f5f5;
  line-height: 4rem;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  user-select: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.demo {
  width: 3.5rem;
  height: 3.5rem;
  margin: .25rem;
  background-color: #f5f5f5;
  line-height: 3rem;
  font-size: 2rem;
}

.white {
  color: white !important;
}

.back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

#instructions {
  position: relative;
  max-width: 400px;
  background-color: white;
  height: auto;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#instructions_text {
  max-height: 1000px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  transition: all 0.5s linear;
}

.rotated {
  transform: rotate(135deg);
}

#guesses {
  min-width: 450px;
}

.inner {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.collapsed {
  max-height: 0px !important;
}

.keys {
  padding: 0;
  width: 2.25rem;
  height: 3.5rem;
  margin: .125rem;
  background-color: #d0d0d0;
  line-height: 3.25rem;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 0.85rem;
  user-select: none;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 0.5rem;
}

.keys.keys_big {
  /* Width of first row */
  /* 10*2.25 + 9 * 0.125 * 2 = 24.75 */

  /* Width of this row */
  /* 7*2.25 + 6 * 0.125 * 2 = 17.25 */
  /* 24.75 - 17.25 = 7.5 */
  /* 7.5 - 2 * 0.125 * 2 = 7 */
  /* 7 / 2 = 3.5 */
  width: 3.5rem;
}

#keyboard {
  max-width: 400px;
}

#alerts {
  top: 5rem;
  z-index: 5;
}

.alert {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: auto;
  margin: 0;
  text-align: center;
  z-index: 5;
  box-shadow: 2px 2px 15px 0 rgba(255, 0, 0, 0.5);
}