.row.row-for-progress {
  display: flex;
  align-items: center;
}
div.progress{
  margin:0;
}

.progress-bar {
	transition: width .05s ease;
}

#bottomPane {
  padding-top: 1em;
  padding-bottom: 1em;
}

.guess-box {
  /* display: inline-block; */
  width: 5rem;
  height: 5rem;
  margin: .25rem;
  background-color: #f5f5f5;
  line-height: 4.5rem;
  /* vertical-align: middle; */
  /* display: flex; */
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  /* user-select: none; */
}

.white {
  color: white;
}